// custom form-group
.custom-form-group {
    position: relative;
    height: 40px;
    width: 100%;
    input,
    input[type="email"] {
        position: absolute;
        background: transparent;
        border: none;
        box-shadow: none;
        font-size: 16px;
        color: #333;
        width: 100%;
        height: 100%;
        padding: 0 10px;
        &:focus + label,
        &:valid + label {
            transform: translate(-15px, -30px);
            font-size: 14px;
            color: red;
            padding: 2px 6px;
            margin: 0;
        }
        &:focus ~ span::before,
        &:valid ~ span::before {
            transform: scaleX(1);
            transform-origin: left;
            transition: transform 0.5s ease-in-out;
        }
        &:valid {
            border-left: 2px solid green;
        }
        &:focus {
            outline: none;
        }
    }
    label {
        position: absolute;
        top: 8px;
        left: 10px;
        color: #333;
        pointer-events: none;
        display: block;
        transition: 0.5s;
    }
    span {
        position: absolute;
        bottom: 0;
        right: 0;
        display: block;
        background: rgba(0, 0, 0, 0.05);
        width: 100%;
        height: 2px;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #00b0ff;
            transform: scaleX(0);
            transform-origin: right;
            transition: transform 0.5s ease-in-out;
        }
    }
}
// ------ end custom input group ----------
